
 <nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TheDailyWeather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News & Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Climate</a>
      </li>
      <a class="nav-link disabled" (click)="getFavoritesList()">Favourites</a>

      <li class="nav-item">
        

      </li>

    </ul>
    <div class="searchBar">
          <input #city value="" placeholder="Search Your City">
          <input type="button" value="search"  name="click" (click)="getDetails(city)"> 
        </div>
  </div>

</nav>  

<div class="row">
  <div *ngIf="list">
    <div *ngFor="let lists of list">
      <ul>
        <li>{{lists.city}}</li>
        <li>{{lists.date}}</li>
        <li>{{lists.maxtemp}}</li>
        <li>{{lists.mintemp}}</li>

        <button type="button" class="btn btn-outline-success">Edit</button>
        <button type="button" class="btn btn-outline-success" (click)="delete(lists._id)">Delete</button>
      </ul>
    </div>
  </div>
</div>




 
