
 <nav class="navbar  fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TheDailyWeather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Maps</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News & Video</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Climate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Favorites</a>
      </li>
    </ul>
    
  </div>
</nav>


 <div> 
        
        <div class="jumbotron searchBar">

          <input #city value="">
        
          <input type="button" value="search"  name="click" (click)="getDetails(city)"> 
          

        </div>
 </div>   

 <div class="container">
         <hr>

         
            <div class="row row-margin-bottom">
            <div class="col-md-12 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow" *ngFor="let item of results">
                        <div class="col-md-6" >
                            <img class="lib-img-show" src="../assets/weather.png" alt="weather image">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                Weather
                                <div class="lib-header-seperator"></div>
                                <p>DATE:{{item.date}}</p><hr>
                                <p>MAX_TEMP:{{item.day.maxtemp_c}}</p><hr>
                                <p>MIN_TEMP:{{item.day.mintemp_c}}</p>
                            </div>
                           
                        </div>
                        <br>
                    </div>
                </div>
            </div>         
           
            </div>

</div>         
        
        





 
